html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-spacing {
    margin-left: 15px;
}

.fa-trash {
    color: red;
}

.fa-trash:hover {
    color: brown;
}

.cnew {
    margin-top: 17%;
}

.det-header {
    display: flex;
    vertical-align: central;
}
